.calendar-container {
    width: 350px;
    max-height:300px;
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  header h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
 .calendar_button {
    background: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color:#9BC1B1;
    
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

   
  }
  
  .week {
    display: contents;
    font-weight: bold;
  }
  
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }


  .day.header {
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .day.empty {
    background: transparent;
    cursor: default;
  }
  
  .day.today {
    background: #CBE1D8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 15px;
  }
  
  .day.holiday {
    color: #e63946;
  }
  
  .day.saturday {
    color: #0077ff;
 
  }


